{% extends "index.html" %}
{% block content %}
    <h2>Créer une critique</h2>
    <div>
        <p>Vous êtes en train de poster en réponse à</p>
        <div>
            <div>
                <p>{{ ticket.user }} a demandé une critique</p>
                <p>{{ ticket.time_created|date:"H:i, d F Y" }}</p>
            </div>
            <h3>{{ ticket.title }}</h3>
            <p>{{ ticket.description }}</p>
            <img src="{{ ticket.image.url }}">
        </div>
    </div>
    <div>
        <p>Critique</p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit">Envoyer</button>
        </form>
    </div>
{% endblock content %}