{% block content %}
<div class="post_block post_review_block">
    <p>Vous êtes en train de poster en réponse à</p>
    <div class="post_block">
        <div class="ticket_header">
            {% if user == ticket.user %}
                <p>Vous avez demandé une critique</p>
            {% else %}
                <p>{{ ticket.user }} a demandé une critique</p>
            {% endif %}
            <p>{{ ticket.time_created|date:"H:i, d F Y" }}</p>
        </div>
        <h3>{{ ticket.title }}</h3>
        {% if ticket.description %}
            <p>{{ ticket.description }}</p>
        {% endif %}
        {% if ticket.image %}
        <img src="{{ ticket.image.url }}">
        {% endif %}
    </div>
</div>
<div class="post_block">
    <p>Critique</p>
    <form method="post" class="post_form">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" class="button post_button">Envoyer</button>
    </form>
</div>
{% endblock content %}