<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>LITReview</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
</head>
<body>
    <header>
        <div class="logo_bloc">
            <img src="{% static 'images/logo.png' %}" alt="logo de LITReview"/>
        </div>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'home' %}" class="nav_link">Flux</a></li>
                <li><a href="{% url 'ticket-create' %}"class="nav_link">Posts</a></li>
                <li><a href="{% url 'logout' %}" class="nav_link">Se déconnecter</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
</body>
</html>