<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>LITReview</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
</head>
<body>
    <header>
        <div>
            <h1>LITReview</h1>
        </div>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'home' %}">Flux</a></li>
                <li><a href="{% url 'ticket-create' %}">Posts</a></li>
                <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
</body>
</html>