@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&family=Varela+Round&display=swap');

body {
    background-color: #f5f5f5;
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
    margin: 0;
}

header, main {
    max-width: 1400px;
    margin: 0 auto;
}

main {
    width: 60%;
}

a {
    text-decoration: none;
    color: black;
}

.nav_link:hover {
    color: #048b9a;
}

header, nav > ul {
    display: flex;
}

header {
    height: 7rem;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

.logo_block {
    height: 100%;
}

.logo_block_login {
    margin: auto;
}

.logo_block > img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

nav > ul > li {
    list-style: none;
    margin: 1rem;
}

.home_buttons_block {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.button {
    padding: 0.5rem 2rem;
    border: solid black 1px;
    margin: 0 2rem;
    border-radius: 0.5rem 0.5rem;
    cursor: pointer;
}

.button:hover, .unsubscribe:hover {
    background-color: #048b9a2e;
}

.ticket_block, .review_block, .post_block {
    border: 2px solid black;
    padding: 1rem;
    margin-bottom: 1rem;
}

.ticket_block, .post_block, .content {
    position: relative;
}

.ticket_header, .review_header {
    display: flex;
    justify-content: space-between;
}

.ticket_button, .post_button {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    margin: 0rem;
}

.image {
    width: 10rem;
    height: 15rem;
}

.image > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.login, .login_form, .login_form > div, .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_form > div {
    margin: 0.5rem 0;
}

.helptext, .login_form > ul, .login_form > div > label {
    display: none;
}

.input {
    text-align: center;
    padding: 0.3rem 6rem;
}

::placeholder {
    color: black;
}

.login_form > .errorlist {
    display: block;
}

.login_form > button {
    margin: 1rem 0 0.5rem 0;
}

.link {
    color: #048b9a;
}

.subscribe {
    text-align: center;
    padding-bottom: 0.5rem;
}

.follow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.follow > ul {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}

.subscription > li, .subscriber > li {
    list-style: none;
}

.subscription > li {
    display: grid;
    grid-template-columns: 7fr 1fr;
    align-items: center;
    margin: 0;
}

.subscription > li > p {
    margin: 0;
}

.subscriber > li {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.follow_subpart {
    padding: 0.5rem;
    border: 1px solid black;
    background: white;
}

.post_form > p, .post_form, .post_form > div > p {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
}

.post_form > p > label, .post_form > div > p > label {
    padding-bottom: 0.5rem;
}

#id_rating {
    display: flex;
    justify-content: space-evenly;
}

#id_body {
    margin-bottom : 1rem;
}

main > h2, main > h1, .follow > h2 {
    text-align: center;
}

.post_review_block {
    margin-bottom: 0;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.button_update {
    margin: 0 1rem;
}
